## count number of digits in given string

In [3]:
s=input()
i=0
count=0
while i<len(s):
    if  s[i].isdigit():
        count+=1
    i+=1
print(count)

123456
6

## sum of digits

In [5]:
s=input()
i=0
count=0
sum=0
while i<len(s):
    if  s[i].isdigit():
        count+=1
        sum+=int(s[i])
    i+=1
print("count is",count,"sum of digits is:",sum)

12345
count is 5 sum of digits is: 15

In [6]:
n= int(input("enter number"))
for i in range(1,n+1,2):
    print(i,end=" ")

enter number10
1 3 5 7 9

In [9]:
s=input()
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

python
p y t h o n
p y t h o n
p y t h o n

## collection type data type:
### list
1. for creation list use[]
2. list are mutable
3. list are indexed
4. list are ordred
5. list allows duplicate values
6. it stores heterogenous values

In [16]:
list1=[23,34,456,56.67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56.67]
gnirts
3

## list changes
1. append
2. insert
3. extend       -------                this are for adding data 

4. remove
5. clear
6. pop         ------            this are for removing
7. sort
8. reverse
9. count--it is used to count the number of elements in list
10. copy

In [17]:
list1=[34,45,56,67]
print("before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print('after adding element:',list1)

before adding elements: [34, 45, 56, 67]
after adding element: [34, 45, 56, 67, 100, 200, 300]

In [19]:
list1.insert(1,400)
list1

[34, 400, 400, 45, 56, 67, 100, 200, 300]

In [23]:
list1.extend([1,2,3])
list1

[34, 400, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
list1

[34, 400, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
list1.pop()

3

In [30]:
list1

[34, 400, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3, 1, 2]

In [33]:
list1.remove(2)

In [34]:
list1

[34, 400, 400, 45, 56, 67, 100, 200, 300, 1, 2]

In [35]:
list1.clear

In [36]:
list1

[34, 400, 400, 45, 56, 67, 100, 200, 300, 1, 2]

In [37]:
list1[5]=20

In [38]:
list1

[34, 400, 400, 45, 56, 20, 100, 200, 300, 1, 2]

In [39]:
## sorting list

In [41]:
list1=[34,56,7,68,79,2,45,67]
list1.sort(reverse=True)
list1

[79, 68, 67, 56, 45, 34, 7, 2]

In [42]:
## revers of list

In [44]:
list1.reverse()
list1

[2, 7, 34, 45, 56, 67, 68, 79]

In [45]:
list1.index(67)

5

In [46]:
list1.count(34)

1

In [52]:
list1=[]
n=int(input())
for i in range(n):
    list1.append(int(input()))
a=sum(list1)
print(a)

5
1
2
3
4
5

TypeError: 'int' object is not callable

## dictionary
### represented in{}
### key:
1. key should be unique
2. key should br inmutable

In [54]:
dict1={"name":"cherry","course":"python","addrese":"hyd"}

In [55]:
dict1

{'name': 'cherry', 'course': 'python', 'addrese': 'hyd'}

In [58]:
dict1["course"]="c programming"

In [59]:
dict1

{'name': 'cherry', 'course': 'c programming', 'addrese': 'hyd'}

In [60]:
dict1["collage"]="gitam"
dict1

{'name': 'cherry',
 'course': 'c programming',
 'addrese': 'hyd',
 'collage': 'gitam'}

## function
### def name of function(arg list):
### statement
### return

In [68]:
def add(x,y):
    return x+y
print(add(10,20))
print(add(100,200))

30
300